<!DOCTYPE html>
<meta charset="utf-8">
<head>
  <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
  <script src="/js/libs/d3.v3.5.17.min.js" type="text/javascript"></script>
  <script src="/js/libs/topojson.v1.min.js" type="text/javascript"></script>
  <script src="/js/libs/datamaps.world.min.js" type="text/javascript"></script>
  <title>Twitter Sentiment Analysis with Spark MLlib</title>
</head>
<body>
  <div id="header">
    <h1>Twitter Sentiment Analysis with Tweepy</h1>
  </div>
  <div id="subtext1">
    <h3>
      <span class="underline">Tech Stack</span>: Python, Tweepy {Tweepy, Streaming, SQL}, CoreNLP, Naive Bayes and Datamaps.
    </h3>
  </div>
  
  <div id="worldmap"></div>
  <script src="/js/datamap.js" type="text/javascript"></script>
</body>